<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Home</title>
</head>

<body>
<header>
    <a href="/index"> <img src="/img/logospa.png" width="5%"> </a>
    <ul class="nav justify-content-sm-center align-items-center">
        <li class="nav-align-items-end">
            <a class="nav-link" href="/cadastro">
                <h6>FAÇA SUA RESERVA AQUI!</h6>
            </a>
        </li>
    </ul>
</header>

<img src="img/painel.png">
<div class="container">
 
 <div class="row"height="70%">
    <div class="col-sm" >
      <img src="img/spahome1.jpg">
    </div>
    <div class="col-sm">
       <img src="img/spahome4.jpg">
    </div>
    <div class="col-sm">
       <img src="img/spahome2.jpg">
    </div>
   <div class="col-sm">
      <img src="img/spahome3.jpg">
   </div>
  </div>

</div>
 <img src="img/painel_2.png" alt="">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</script>

    </div>
</div>
    <footer>
<nav>
<p>
     G2 - Zen Essence Spa

</p>
</nav>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>


