
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <title>Gestão de Performance</title>

</head>

<body>
  <header>
    <a href="index.html"> <img src="img/logospa.png" width="5%"> </a>
    <ul class="nav justify-content-sm-center align-items-center">
        <li class="nav-align-items-end">
            <a class="nav-link link-light" href="/agendamentoGerencia">
                <h6>GERENCIAR AGENDAMENTOS</h6>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href="/avaliacaoGerencia">
                <h6>GERENCIAR AVALIAÇÕES</h6>
            </a>
        </li>
        <li class="nav-item text-white">
            <a class="nav-link link-light" href="/gestaoPerformance">
                <h6>GESTÃO</h6>
            </a>
        </li>
        <li class="nav-item text-white">
            <a class="nav-link link-light" href="/cadastroServico">
                <h6>GERENCIAR SERVIÇOS</h6>
            </a>
        </li>
    </ul>
</header>
  <main>
    <h3 id="title">AVALIAÇÃO GERENCIAL</h3>
    <h5>“Renove sua serenidade, encontre o equilíbrio no nosso spa” </h5>
    <p> PARA REALIZAR A AVALIAÇÃO DE UM PROFISSIONAL, SELECIONE UMA OPÇÃO ABAIXO: </p>
    <br>
  </main>
<div class="container">
  <div class="form-group">
    <label for="servico">Serviço:</label>
    <select class="form-control" id="servico" required>
      <option value="">Selecione um serviço</option>
      <option value="1">Profissional 1</option>
      <option value="2">Profissional 2</option>
      <option value="3">Profissional 3</option>
    </select>
    <p></p>
    <a href="/gestaoPerformanceNext"><button type="button" class="btn btn-succes">Avançar</button></a>  
  </div>
  <div class="card-deck" id="avaliacoes-cards">
 
  </div>
</div>

<aside>
  <img src="img/hori3.jpg">
</aside>
<footer>
  <nav>
    <p>G2 - Zen Essence Spa</p>
  </nav>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/performance.js"></script>
</body>

</html>
